<nav class="nav  sticky-top navbar-dark bg-ligh d-flex justify-content-between">
    <a class="p-2 text-muted" href="{{path('app_home')}}">
        Home
    </a>
    <a class="p-2 text-muted" href="{{path('app_post_index')}}">
        Blog
    </a>
    <a class="p-2 text-muted" href="#">
        About
    </a>
    <a class="p-2 text-muted" href="#">
        Contact
    </a>
</nav>